@media only screen and (min-width: 1024px) and (max-width: 1440px) {
/* GERAL */
h1{ font-size: 60px; color: #ACCF3A;}
h2{ font-size: 36px; color: white; }
.text-c h2{ margin-bottom: 48px;}
.text-c h2::before{width: 420px; height: 36px;}

body{
	background-size: 1500px;
	background-repeat: no-repeat;
}

/* INICIO */
.inicio .text-c h1{ font-size: 108px; margin-top: 120px;}
.inicio .text-c h2{ font-size: 60px; }

/* MOUSE - INICIO*/
.mouse-cta{margin: 140px auto 0px auto;}

/* CARDAPIOS */
.cardapios img{ max-width: 960px; }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
body{
	background-size: auto 768px;
	background-repeat: no-repeat;
}


}

/*Estilo para smartphone*/
@media only screen and (max-width: 767px) {
h1{ font-size: 36px; color: #ACCF3A;}
h2{ font-size: 24px; color: white; }

.text-c h1{margin-top: 80px;}
.text-c h2{margin-bottom: 36px;}
.text-c h2::before{width: 280px; height: 24px;}

.container {width: 300px;}

body{background: url(../img/bg-m-2.jpg) fixed no-repeat; background-size: cover;}

* > img{max-width: 280px;}

/* MENU - MOBILE */  

.menu.container{ display: none;}
    
.menu-mobile{
    margin-top: 0px;;
    padding: 15px 0px; 
    overflow: hidden;
    display: block;
}

.logo-m{ 
    width: 70px; 
    margin-left: 20px; 
    float: left;}

.btn-menu{
    display: block;
    height: 30px;
    width: 30px;
    border-top: 3px solid #ACCF3A;
    margin-top: 17.5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    z-index: 4;
}

.btn-menu::before, .btn-menu::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 6px;
    background: #ACCF3A;
    transition: .3s;
}

.btn-menu.active { border-top-color: transparent; position: fixed;}

.btn-menu.active::before{
    transform: rotate(-135deg);
    transition: .3s;
}

.btn-menu.active::after{
    margin-top: -3px;
    transform: rotate(135deg);
    transition: .3s;
}

.menu-m-wrapper.active{
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    transition: .8s;
}

.menu-m-wrapper{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 90%;
    height: 100%;
    display: block;
    margin: 0px auto;
    padding: 20px 20px; 
    background: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 1px 3px 10px 1px rgba(0,0,0,.255);
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
    transition: .8s;
}

.menu-m-wrapper li a{ 
    display: block; 
    width: 160px; 
    margin: 20px auto 20px auto;
    padding-bottom: 20px;
    font-size: 16px;
    color: #600757;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.075);
}

.menu-m-wrapper li img{
	max-width: 200px;
	margin: 0 auto;
}

/* MENU - MOBILE */

/* INICIO */
.inicio{ height: 320px; }
.inicio .text-c h1{ font-size: 42px; margin-top: 80px;}
.inicio .text-c h2{ font-size: 28px; }

.horario-t, .info-t, .midia-t { margin-bottom: 36px; }

.horario-t span, .info-t span, .midia-t span {
	font-size: 24px;
	color: #ACCF3A;
}

.horario-t p, .info-t p, .midia p{
	font-size: 18px;
	color: #fff;
}

.horario-t img{
	max-width: 280px;
	margin: 24px auto;
}

.info-t span, .midia-t span{
	font-size: 24px;
}

.midia-t img{
	width: 120px;
	height: 120px;
	border-radius: 100%;
}

/* MOUSE - INICIO*/
.mouse-cta{margin: 80px auto 0px auto;}
.mouse{height: 40px; width: 25px;}
.mouse-cta span{height: 8px;}

.b-lateral{ display: none;}

}

@media only screen and (max-width: 400px) {
    body{
        background: url(../img/bg-m-2.jpg) fixed no-repeat;
        background-size: 400px auto;
        background-position: center center;
    }

}

@media only screen and (max-width: 320px) {
    body{
        background: url(../img/bg-m-2.jpg) fixed no-repeat;
        background-size: 320px auto;
        background-position: center center;
    }